electron_mirror=https://registry.npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://registry.npmmirror.com/mirrors/electron-builder-binaries/
node_sqlite3_binary_host_mirror=http://registry.npmmirror.com/mirrors/
sass_binary_site=https://registry.npmmirror.com/mirrors/node-sass/
PYTHON_MIRROR=http://registry.npmmirror.com/mirrors/python/
profiler_binary_host_mirror=http://registry.npmmirror.com/mirrors/node-inspector/
registry=https://registry.npmmirror.com
